@media screen and (max-width:786px) {
    .contact-map{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .map-box {
        min-width: 100%;
        height: 50vh;
        /* border: 2px solid black; */
    }

       .map-content {
        min-width: 100%;
        min-height: 50vh;
}
}
.contact-container {
    min-height: 100vh;
    background-color: rgb(243, 238, 238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .contact-box {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 80%;

        p1 {
            font-size: 50px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        }

        h3 {
            padding: 10px;
            font-size: 40px;
            border-bottom: 1px solid red;
        }

        /* border: 2px solid black; */

    }
}

.contact-map {
    min-height: 50vh;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    /* background-color: aqua; */

    .map-box {
        width: 70%;
        min-height: 50vh;
        /* border: 2px solid black; */
    }

    .map-content {
        width: 30%;
        min-height: 50vh;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* padding: 10px; */

        .contact-name {
            min-height: 15vh;
            padding: 10px;
            border-bottom: 1px solid red;

            h3 {
                font-size: 23px;
            }

            h5 {
                font-size: 17px;
            }
        }

        .contact-email {
            border-bottom: 1px solid red;
            display: flex;
            padding: 10px;
            flex-direction: column;
            gap: 10px;

            h5 {
                font-size: 17px;
            }
        }

        .contact-icon {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;

            h5 {
                font-size: 17px;
            }


        }

    }
}

.contact-info{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 80%;
    gap: 20px;

    .contact-inp{
        display: flex;
        gap: 20px;
        
    }

    input{
        display: flex;
        width: 50%;
        padding: 20px;
        
    }
    textarea{
        min-height: 20vh;
        padding: 10px;
    }

    .btn{
        text-align: center;

        button{
            border: none;
            padding: 10px 30px;
            border-radius: 30px;
            font-size:15px;
            background-color: orange;
            margin-bottom: 20px;

        }
    }
}
